# --- requirements.txt ---

# Core AI and Data Handling
torch
torchvision
numpy
scipy
pandas
# pandas==2.2.2 # For colab

# Machine Learning
scikit-learn

# Data Visualization
matplotlib
plotly
Pillow

# PhysioNet Database Interaction
wfdb

# Web Application
streamlit

mne
pyEDFlib
imageio
umap-learn

scikit-image